/***** HEADER *****/
.masthead {
}

.masthead__brand {
}

.masthead__brand-rose {
}

.masthead__nav-btn {
}

.masthead__nav {
}

.masthead__nav > li {
}

.masthead__nav-link {
}

.masthead__nav--show {
}

/***** FOOTER *****/
.footer {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100px;
  justify-content: center;
}
