/***** HERO *****/
.email {
  background: var(--clr-orange);
}

.github {
  background: var(--clr-github-green);
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hero__btn {
  background: none;
  border: 2px solid var(--clr-light);
  border-radius: 5px;
  color: var(--clr-light);
  font-weight: bold;
  height: 40px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.hero__btn:active {
  background: var(--clr-orange);
  border: none;
}

.hero__title {
  color: var(--clr-light);
  font-size: 2.5rem;
  font-weight: bold;
}

.hero__title > span {
  color: var(--clr-orange);
  display: block;
}

.hero__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.hero__social-box {
  align-items: center;
  color: var(--clr-black);
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 40px;
}

.linked-in {
  background: var(--clr-linkedin-blue);
}
