@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/***** CSS RESET *****/
@import "./reset.css";

/***** UTILITY CLASSES *****/
@import "./utility.css";

/***** HEADER *****/
@import "./header-footer.css";

/***** HERO *****/
@import "./hero.css";

/***** ABOUT ME *****/
@import "./aboutme.css";

/***** MY SKILLS *****/
@import "./myskills.css";

/***** PROJECTS *****/
@import "./projects.css";

/***** CUSTOM PROPERTIES *****/
:root {
  /* Colors */
  /* --clr-bg-color: #312f2f; */
  --clr-light: #f6e8ea;
  /* --clr-rose: #ef626c; */
  --clr-orange: #f24c00;
  --clr-black: #22181c;
  --clr-linkedin-blue: #0072b1;
  --clr-github-green: #6cc644;
}

/***** UNIVERSAL STYLES *****/
body {
  font-family: "Lato", sans-serif;
  position: relative;
}

.aboutme,
.myskills,
.projects {
  padding: 20px;
}

.hidden {
  display: none;
}

.masthead,
.aboutme {
  max-width: 1400px;
}

.section__title {
  color: var(--clr-orange);
  font-size: 1.7rem;
  font-weight: 900;
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 481px) {
  .hero__title > span {
    display: inline;
  }

  .masthead__brand {
    font-size: 1.6rem;
  }

  .hero__btn {
    width: 200px;
    height: 50px;
  }

  .masthead__nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 769px) {
  .masthead__nav {
    display: flex;
    gap: 25px;
    opacity: 1;
    position: unset;
    right: unset;
    top: unset;
    transition: unset;
    width: auto;
  }

  .masthead__nav-btn {
    display: none;
  }

  .masthead__nav > li {
    background: none;
  }

  .masthead__nav-link {
    color: var(--clr-light);
  }

  .myskills__grid,
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
