@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/***** CSS RESET *****/
@import "./reset.css";

/***** UTILITY CLASSES *****/
@import "./utility.css";

/***** CUSTOM PROPERTIES *****/
:root {
  /* Colors */
  /* --clr-bg-color: #312f2f; */
  --clr-light: #f6e8ea;
  /* --clr-rose: #ef626c; */
  --clr-orange: #f24c00;
  --clr-black: #22181c;
  --clr-linkedin-blue: #0072b1;
  --clr-github-green: #6cc644;
}

/***** UNIVERSAL STYLES *****/
body {
  font-family: "Lato", sans-serif;
  position: relative;
}

.aboutme,
.myskills,
.projects {
  padding: 20px;
}

.hidden {
  display: none;
}

.masthead,
.aboutme {
  max-width: 1400px;
}

.section__title {
  color: var(--clr-orange);
  font-size: 1.7rem;
  font-weight: 900;
}

/***** HEADER *****/
.masthead {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding-inline: 20px;
  position: fixed;
  right: 0;
  width: 90%;
}

.masthead__brand {
  color: var(--clr-light);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.masthead__brand-rose {
  color: var(--clr-orange);
}

.masthead__nav {
  position: absolute;
  right: -100%;
  opacity: 0;
  top: 50px;
  transition: all 0.5s ease-in;
  width: 100%;
}

.masthead__nav > li {
  align-items: center;
  background: var(--clr-light);
  border-bottom: 1px solid var(--clr-black);
  display: flex;
  height: 30px;
  justify-content: center;
}

.masthead__nav-link {
  color: var(--clr-black);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.masthead__nav--show {
  right: 0;
  opacity: 1;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--clr-light);
  font-size: 2rem;
}

/***** HERO *****/
.email {
  background: var(--clr-orange);
}

.github {
  background: var(--clr-github-green);
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hero__btn {
  background: none;
  border: 2px solid var(--clr-light);
  border-radius: 5px;
  color: var(--clr-light);
  font-weight: bold;
  height: 40px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.hero__btn:active {
  background: var(--clr-orange);
  border: none;
}

.hero__title {
  color: var(--clr-light);
  font-size: 2.5rem;
  font-weight: bold;
}

.hero__title > span {
  color: var(--clr-orange);
  display: block;
}

.hero__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.hero__social-box {
  align-items: center;
  color: var(--clr-black);
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 40px;
}

.linked-in {
  background: var(--clr-linkedin-blue);
}

/***** ABOUT ME *****/
.aboutme__img {
  display: block;
  margin: 0 auto;
}

.aboutme__text {
  color: var(--clr-black);
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: justify;
}

/***** MY SKILLS *****/
.myskills__languages,
.myskills__frameworks {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block: 50px;
}

.myskills__languages > i,
.myskills__frameworks > i {
  color: var(--clr-orange);
}

.myskills__bootstrap {
  color: #563d7c;
}

.myskills__css {
  color: #264de4;
}

.myskills__html {
  color: #e34c26;
}

.myskills__js {
  color: #f0db4f;
}

.myskills__react {
  color: #61dbfb;
}

.myskills__skill {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 5px;
  margin-block: 5px;
}

.myskills__tailwind {
  width: 20px;
  height: 20px;
}

.myskills__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px 0;
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 481px) {
  .hero__title > span {
    display: inline;
  }

  .masthead__brand {
    font-size: 1.6rem;
  }

  .hero__btn {
    width: 200px;
    height: 50px;
  }

  .masthead__nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 769px) {
  .masthead__nav {
    display: flex;
    gap: 25px;
    opacity: 1;
    position: unset;
    right: unset;
    top: unset;
    transition: unset;
    width: auto;
  }

  .masthead__nav-btn {
    display: none;
  }

  .masthead__nav > li {
    background: none;
  }

  .masthead__nav-link {
    color: var(--clr-light);
  }
}
