@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/***** CSS RESET *****/
@import "./reset.css";

/***** CUSTOM PROPERTIES *****/
:root {
  /* Colors */
  --clr-bg-color: #312f2f;
  --clr-light: #f6e8ea;
  --clr-rose: #ef626c;
  --clr-black: #22181c;
  --clr-linkedin-blue: #0072b1;
  --clr-github-green: #6cc644;
}

/***** UNIVERSAL STYLES *****/
body {
  background: var(--clr-bg-color);
  font-family: "Lato", sans-serif;
}

/***** HEADER *****/
.masthead {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  max-width: 1400px;
  padding: 20px;
}

.masthead__brand {
  color: var(--clr-light);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.masthead__brand-rose {
  color: var(--clr-rose);
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--clr-light);
  font-size: 2rem;
}

/***** HERO *****/
.hero {
  align-items: center;
  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  width: 100%;
}

.hero__title {
  color: var(--clr-light);
  font-size: 2.1rem;
  font-weight: bold;
}

.hero__title > span {
  color: var(--clr-rose);
  display: block;
}
