/***** MY SKILLS *****/
.myskills__grid {
  display: grid;
  margin-top: 20px;
}

.myskills__languages,
.myskills__frameworks {
  text-align: center;
  margin-block: 20px;
}

.myskills__languages > i,
.myskills__frameworks > i {
  color: var(--clr-orange);
}

.myskills__bootstrap {
  color: #563d7c;
}

.myskills__css {
  color: #264de4;
}

.myskills__html {
  color: #e34c26;
}

.myskills__js {
  color: #f0db4f;
}

.myskills__react {
  color: #61dbfb;
}

.myskills__skill {
  margin-block: 10px;
}

.myskills__tailwind {
  width: 20px;
  height: 20px;
}

.myskills__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}
